extends layout

block content
  table.ui.table
    thead
      tr
        th Título
        th Autor
        th Páginas
        th Editorial
        th Año publicación
        th Cantidad
        th
    tbody
      each book in books
        tr
          td= book.title
          td= book.author
          td= book.pages
          td= book.publisher
          td= moment(book.pub_year).format("YYYY")
          td= book.total
          td.collapsing
            a.ui.icon.button(href="/books/edit/#{book.id}")
              i.icon.edit
            a.ui.icon.button(href="/books/delete/#{book.id}")
              i.icon.trash
    tfoot.full-width
      tr
        th(colspan=7)
          a(href="/books/new").ui.right.floated.primary.labeled.icon.button Libro
            i.add.icon