extends layout

block content
  .ui.three.column.centered.grid
    .column
      form(method="post", action="/books").ui.form
        .field
          .ui.icon.input
            i.icon.book
            input(type="text", name="title", placeholder="Título", value="#{book.title}", required)
        .field
          .ui.icon.input
            i.icon.user
            input(type="text", name="author", placeholder="Autor", value="#{book.author}", required)
        .field
          .ui.icon.input
              i.icon.calendar
              if book.pub_year 
                input(type="date", name="year", placeholder="Año (AAAA-MM-DD)", value="#{moment(book.pub_year).format('YYYY-MM-DD')}", required)
              else
                input(type="date", name="year", placeholder="Año (AAAA-MM-DD)", required)
        .field
          .ui.icon.input
            i.icon.pencil
            input(type="text", name="publisher", placeholder="Editorial", value="#{book.publisher}", required)
        .field
          .ui.icon.input
            i.icon.sliders
            input(type="number", name="pages", placeholder="Páginas", value="#{book.pages}", required)
        .field
          .ui.icon.input
            i.icon.pin
            input(type="number", name="total", placeholder="Cantidad", value="#{book.total}", required)
        .field
          input(type="hidden", name="id", value="#{book.id}")
          input(type="submit", value="Enviar").fluid.ui.button