extends layout

block content
  .ui.large.message
    .ui.huge.header= title
    p Hacer una aplicación para gestionar una biblioteca, siguiendo los siguientes pasos:
    ol
      li Crear varias clases con una estructura para libros (título, número de ejemplares, editorial, número de páginas, año de edición), socios de la biblioteca (nombre, apellidos, edad, dirección, teléfono) y préstamos entre libros y socios (libros, socio, fecha inicio préstamo, fecha fin préstamo).
      li Crear una estructura de relaciones entre libros, préstamos y socios.
      li Hacer una aplicación que permita a un administrador:
        ul
          li Dar de alta, dar de baja y modificar libros
          li Dar de alta, dar de baja y modificar socios
      li Completar la aplicación para que el administrador pueda consultar socios y libros por varios criterios.
      li Completar la aplicación para que el administrador pueda realizar préstamos de un libro a un socio.
      li Completar la aplicación para que el administrador pueda realizar las siguientes consultas:
        ul
          li Listado de libros prestados actualmente
          li Número de libros prestados a un socio determinado
          li Libros que han superado la fecha de fin de préstamo
          li Socios que tienen libros que han superado la fecha de fin de préstamo