doctype html
html(lang='en')
  head
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    block css
      link(rel='stylesheet', href='/components/semantic-ui/dist/semantic.min.css')
      link(rel='stylesheet', href='/css/style.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    .ui.page.grid
      .row
        .ui.inverted.fixed.menu.navbar.page.grid
          a.brand.item(href="/") AD/Biblioteca
          if books || book
            a.item.active(href="/books") Libros
          else
            a.item(href="/books") Libros
          if members || member
            a.item.active(href="/members") Socios
          else
            a.item(href="/members") Socios
          if loans || loan
            a.item.active(href="/loans") Préstamos
          else
            a.item(href="/loans") Préstamos
    .ui.page.grid.main
      .row
        .column
          block content
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/semantic-ui/dist/semantic.min.js')
