extends layout

block content
  .ui.three.column.centered.grid
    .column
      form(method="post", action="/members").ui.form
        .field
          .ui.icon.input
              i.icon.user
              input(type="text", name="name", placeholder="Nombre", value="#{member.name}", required).uk-width-1-1
        .field
          .ui.icon.input
              i.icon.group
              input(type="text", name="last_name", placeholder="Apellidos", value="#{member.last_name}", required).uk-width-1-1
        .field
          .ui.icon.input
              i.icon.heartbeat
              input(type="number", name="age", placeholder="Edad", value="#{member.age}", required).uk-width-1-1
        .field
          .ui.icon.input
              i.icon.home
              input(type="text", name="address", placeholder="Dirección", value="#{member.address}", required).uk-width-1-1
        .field
          .ui.icon.input
              i.icon.text.telephone
              input(type="tel", name="phone", placeholder="Teléfono", value="#{member.phone}", required).uk-width-1-1
        .field
          input(type="hidden", name="id", value="#{member.id}")
          input(type="submit", value="Enviar").fluid.ui.button