extends layout

block content
  table.ui.table
    thead
      tr
        th Nombre
        th Apellidos
        th Edad
        th Dirección
        th Teléfono
        th
    tbody
      each member in members
        tr
          td= member.name
          td= member.last_name
          td= member.age
          td= member.address
          td= member.phone
          td.collapsing
            a.ui.icon.button(href="/members/edit/#{member.id}")
              i.icon.edit
            a.ui.icon.button(href="/members/delete/#{member.id}")
              i.icon.trash
    tfoot.full-width
      tr
        th(colspan=6)
          a(href="/members/new").ui.right.floated.primary.labeled.icon.button Socio
            i.add.user.icon